@font-face {
    font-family: "San Francisco Ultralight";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/sanfrancisco-ultralight.woff2") format("woff2")
}

@font-face {
    font-family: "San Francisco Thin";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/sanfrancisco-thin.woff2") format("woff2")
}

@font-face {
    font-family: "San Francisco Medium";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/sanfrancisco-medium.woff2") format("woff2")
}

@font-face {
    font-family: "San Francisco Semibold";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/sanfrancisco-semibold.woff2") format("woff2")
}

@font-face {
    font-family: "San Francisco Bold";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/sanfrancisco-bold.woff2") format("woff2")
}

body {
    margin: 0;
    font-family: 'San Francisco Medium', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'San Francisco Semibold', sans-serif;
    margin-top: 0;
    font-weight: 700;
    color: var(--text);
}

.icon {
    color: var(--primary);
}

:root[data-theme="light"] {
    --text: #0d161c;
    --background: #ecf4f8;
    --primary: #1d5472;
    --secondary: #6ebbe7;
    --accent: #0f81c2;
}
:root[data-theme="dark"] {
    --text: #e3ecf2;
    --background: #070f13;
    --primary: #8dc4e2;
    --secondary: #186491;
    --accent: #3daef0;
}

:root {
    --error: #ff0000
}

:root[data-theme="light"] {
    --text: #080912;
    --background: #fbfbfe;
    --primary: #233ccd;
    --secondary: #dddbff;
    --accent: #2a41c0;
}

:root[data-theme="dark"] {
    --text: #edeef7;
    --background: #010104;
    --primary: #334bdc;
    --secondary: #020024;
    --accent: #3e55d5;
}

label {
    font-size: 13px;
    color: #7a7a7a;
    font-weight: 500;
    margin-bottom: 5px;
    margin-left: 2px;
}

button {
    background-color: var(--primary);
    color: var(--text);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}

button:disabled {
    background-color: #c5c5c5;
    cursor: not-allowed;
}

button:hover {
}

input {
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 14px;
    border: 2px solid #4f4f4f;
    font-family: 'sf-pro', sans-serif;
}
